body {
  background-color: #FFF9F0;
  margin: 70px 150px 100px 175px;
}


h2 {
  color: #005B4C;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.85rem;
  font-weight: 800;
  position: relative;
  text-align: center;

}

h3 {
  color: #00917D;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-family: 'Taviraj', serif;
  font-size: 1.25rem;
  color: #332F28;
}

a {
  color: #2F4858;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #748E89;
}

.about {
  font-family: 'Taviraj', serif;
  font-size: 1.25rem;
}

.about-page {
  height: auto;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.col {
  flex: 3;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.flex-grid {
  display: flex;
}


.center-text1 {
  text-align: center;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }

  .page {
    color: #4E4637;
    font-family: 'Taviraj', serif;
    font-size: 1.5rem;
    display: block;
  }
}

.intro {
  font-weight: 500;
  font-size: 2.75rem;
  width: 75%;
  margin: 60px 0 70px 0;
}

.link {
  color: #4E4637;
  font-family: 'Taviraj', serif;
}

.logo {
  width: 20%;
  margin-right: 60%;
}

.more_ece {
  position: relative;
  text-align: center;
}

.page {
  float: right;
}

.pfp {
  float: left;
  margin: 0 75px;
  width: 35%;
  border-radius: 20%;
}

ul#navbar li{
    float: left;
}

ul#navbar li a {
    color: #4E4637;
    font-family: 'Taviraj', serif;
    font-size: 1.5rem;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
