body {
  padding: 20px;
  margin: 0;
  background: #FFF9F0;
}

/* Overall Navbar */
.navbar {
  background: #FFF9F0;
}

/* Navbar Name */
.navbar-light .navbar-brand {
  color: #096152;
}

/* Navbar Links (about, contact, etc) */
.navbar-light .navbar-nav .nav-link {
  color: #00918C;
}

.nav-item {
  text-align: right;
}

/* Fonts */
@font-face {
  font-family: 'TW-Cen-MT-Regular';
  src: url('fonts/TW-Cen-MT-Regular.tff')
}

@font-face {
  font-family: 'TW-Cen-MT-Bold';
  src: url('fonts/TW-Cen-MT-Bold.tff')
}

@font-face {
  font-family: 'TW-Cen-MT-Bold-Italic';
  src: url('fonts/TW-Cen-MT-Bold-Italic.tff')
}

@font-face {
  font-family: 'TW-Cen-MT';
  src: url('fonts/TW-Cen-MT-Regular.tff')
}

@font-face {
  font-family: 'TW-Cen-MT-Italic';
  src: url('fonts/TW-Cen-MT-Regular.tff')
}
