body {
  padding: 3% 20%;
  margin: 0;
  background: #FFF9F0;
}

/* Links */
a {
  text-decoration: none;
  /* removes underlining */
}

/* Overall Navbar */
.navbar {
  background: #FFF9F0;
}

/* Navbar Name */
.navbar-light .navbar-brand{
  color: #096152;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

/* Navbar Links (about, contact, etc) */
.navbar-light .navbar-nav .nav-link {
  color: #00918C;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: x-large;
}

.nav-item {
  text-align: right;
}

/* Index Description */
.index-description {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.5rem;
}

/* Project Container */
.container, .projects-container {
  padding: 1%;
}

/* Project Headers */
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #096152;
  text-align: center;
  margin: 2%;
}

/* Project Links  */
 .project-link {
  font-family: "Open Sans", sans-serif;
  color: #00918C;
  font-size: 1.2rem;
}

/* Project Tiles */

h4 {
    text-align: center;
    margin: 1.5rem auto;
    word-wrap: break-word;
    width: 50%;
}

.col {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #00918C;
}

.tile {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.brightness {
    background-color: #FFF9F0;
    display: inline-block;

}
.brightness img:hover {
    opacity: .7;
}

/* Horizontal Divider */
hr {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}


/* About Container */
.about-container {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}

/* Selfie */
#selfie {
  float: right;
  margin: 2rem;
  margin-top: 1rem;
}

/* GSP Class Photo */
.gsp-class {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
.img-fluid {
  max-width: 100%;
  height: auto;
}
*/
